<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<!-- #1. layout 렌더링 -->
<head lang="ko">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
   <div class="container card  my-5 p-4">
      <h3 class="card-header"> MBTI  QUEST 상세보기</h3>
	  <div> 
	      <input type="hidden"   name="app_user_id"  th:value="${dto.appUserId}"> 
		  <div class="mb-3 mt-3">
		    <label for="bhit" class="form-label">조회수</label>
		    <input type="text" class="form-control" id="bhit" name="bhit"  readonly   th:value="${dto.bhit}">
		  </div> 
		  <div class="mb-3 mt-3">
		    <label for="btitle" class="form-label">TITLE:</label>
		    <input type="text" class="form-control" id="btitle" 
		    		placeholder="내용을 입력해주세요" name="btitle"  readonly  th:value="${dto.btitle}">
		  </div>  
		  <div class="mb-3">
		    <label for="bcontent" class="form-label">CONTENT:</label>
		    <textarea class="form-control" id="bcontent" placeholder="내용을 입력해주세요"   
		    	readonly name="bcontent" th:text="${dto.bcontent}"></textarea>
		  </div> 
		  <div class="mb-3">
		    <label for="bfile" class="form-label">IMG:</label>
		    <img th:src="@{|/upload/${dto.bfile}}" alt=""/>
		  </div> 
			<div class="mb-3">
			<a th:href="@{/board/edit(id=${dto.id})}" class="btn btn-success form-control">글수정</a>
			</div>
			<div class="mb-3">
			<a th:href="@{/board/delete(id=${dto.id})}" class="btn btn-secondary form-control">글삭제</a>
			</div> 
		  <div class="mb-3">
		  	<a th:href="@{/board/list}" class="btn btn-primary form-control">목록보기</a>
		  </div>
	 </div>
   </div> 
   </div> 
</body>
<!-- [ mbtiBoard - list.jsp ]  -->