<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.the703.dao.UserMapper">
  <select id="selectAll" resultType="UserDto">
  	select * from users order by uno desc;
  </select>
  <select id="select" resultType="UserDto" parameterType="int">
  	select * from users where uno= #{uno}
  </select>
  <insert id="insert" parameterType="UserDto">
  	insert into users (nickname, bpass, email, mobile, bip)
  	       values (#{nickname}, #{bpass}, #{email}, #{mobile}, #{bip})
  </insert>
  <update id="update" parameterType="UserDto">
  	update users set nickname=#{nickname}, mobile=#{mobile}, bip=#{bip}
  	where uno = #{uno}
  </update>
  <delete id="delete" parameterType="int">
  	delete from users where uno= #{uno}
  </delete>
<!-- VERSION-1
  <select id="selectOneByDto" resultType="UserDto" parameterType="UserDto">
  	select * from users where email = #{email} and bpass = #{bpass}
  </select>
-->
  <select id="findByEmailUserInfo" resultType="UserDto" parameterType="string">
  	select * from users where email = #{email}
  </select> 
  
  <!-- ADD -->
  <select id="findLogin" resultType="int" parameterType="UserDto">
	select count(*) from users where email=#{email} and bpass=#{bpass}
  </select>
  <select id="findByUno" resultType="UserDto" parameterType="int">
	select * from users where uno=#{uno} 
  </select>
  <select id="findByEmail" resultType="string" parameterType="string">
	select email from users where email=#{email}
  </select>
  
  <!-- authorities -->
  <insert   id="insertAuth"  parameterType="AuthDto">
     insert into  authorities (email, auth) values ( #{email} , #{auth} ) 
  </insert>
  <select     resultMap="authListMap"   id="readAuth"  parameterType="AuthDto">
     select     u.email,  u.bpass,  a.auth
     from      users u    left   join authorities a    on u.email   = a.email  
     where     u.email =#{email} 
  </select>
  <resultMap  id="authListMap"          type="AuthListDto">
       <result  property="email"         column="email"  />
       <result  property="bpass"         column="bpass"  />
       <collection  property="authList"  resultMap="authMap"  />
  </resultMap>
  <resultMap  id="authMap"       type="AuthDto" >
       <result  property="email"     column="email"  />
       <result  property="auth"      column="auth"   />
  </resultMap> 
</mapper>