@charset "UTF-8";

:root {
    scrollbar-width: thin;
    background-color: #ffffff;

    /* light */
    --color-primary:#0689d8;
    --color-primary-purple: #685bc7;
    /* #1428a0: Navy */
    /* #0057b8: Blue */
    /* #0689d8: DarkSkyBlue */
    /* #00a9e0: SkyBlue */
    /* #75787b: Gray */
    --color-light-default: #ffffff;
    --color-light-50: #f9fafb;
    --color-light-100: #f3f4f6;
    --color-light-200: #e5e7eb;
    --color-light-300: #d1d5db;
    --color-light-400: #9ca3af;
    --color-light-500: #6b7280;
    --color-light-600: #4b5563;
    --color-light-700: #374151;
    --color-light-800: #1f2937;
    --color-light-900: #111827;
    --color-light-950: #030712;
}

.myhidden {
    position: absolute; left: -9999%; width: 1px; height: 1px; overflow: hidden;
    border: 0; white-space: nowrap; /* 줄 방지 */ 
    clip: rect(0,0,0,0); /* 요소를 잘라서 시각적으로 완전히 숨김 - 구형 브라우저 호환 */
}

header, nav {
    background-color: var(--color-light-default);
}

.logo {
    color: var(--color-primary);
}


h3 span {
    color: var(--color-primary);
}

div#demo {
    height: 300px;
    overflow: hidden; /* 이미지가 넘치면 숨김 */
    /* line-height: 350px; text 일때만 */
}

ul {
    list-style: none;
    margin: 0; padding: 0;
}

/* about 내 소개 */
#about {
    background-color: var(--color-light-50);
}

/* picture */
#picture {
    filter: drop-shadow(10px 10px 0 var(--color-primary));
}

/* EXPERIENCE: 내 이력 */
.exp_title {
    font-weight: 900;
    color: var(--color-light-700);
}
.exp_title .exp_date {
    font-weight: 500;
    color: var(--color-light-400);
}

.exp_content .title {
    font-weight: 900;
    color: var(--color-light-700);
}

.exp_content .date {
    font-weight: 500;
    color: var(--color-light-400);
}


/* footer */
footer {
    background-color: var(--color-light-100);
}