@charset "UTF-8";

.myhidden {
    position: absolute; left: -9999%; width: 1px; height: 1px; overflow: hidden;
    border: 0; white-space: nowrap; /* 줄 방지 */ 
    clip: rect(0,0,0,0); /* 요소를 잘라서 시각적으로 완전히 숨김 - 구형 브라우저 호환 */
}

header, nav {
    background-image: linear-gradient(90deg, gold, pink 40%, plum);
}

div#demo {
    height: 300px;
    overflow: hidden; /* 이미지가 넘치면 숨김 */
    /* line-height: 350px; text 일때만 */
}

div#demo img {
    object-fit: cover;
}

.mybg {
    background-color: transparent;
}

/* body {
    background-image: linear-gradient(135deg, gold, pink 80%, plum);
    background-repeat: repeat;
} */

/*  배경 body에 fixed 하고 원하는 배경 부분만 투명하게 */
body {
    background-image: url(../img/mmmm_04_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

/* transform + transition */
.mybg:hover {
    transform: translateY(-30px);
    transition: all 2s;
}

h3 {
    transition: all 0.3s;
}
h3:hover {
    transform: translateY(-10px);
}